body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.player-console {
    margin-top: 30px; 
}

.computer-console {
    margin-top: 100px; 
}

.circle-console {
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.options-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.options {
    font-size: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
